$("#email_form").slideUp(1000, function(){
	$("#email_form").empty();
	$("#email_form").html("<h3>Thanks. We'll get back to you soon and let you know when the site goes live. Until then, get the eff out of here. <br><br>We've got work to do.</h3>");
}).slideDown(1000);