<%= image_tag('logo.png') %>
<h1>FORGETLINES</h1>
<h2>Coming Soon 2012</h2>
<h3>Enter your email below and prepare to have your belt unbuckled.</h3>
<h4>(Or...maybe you'll just be added to the mailing list)</h4>
<div id="email"><input type="text" placeholder="enter email"/></div>
<div id="submit"><input type="submit" value="lets go."/></div>