<style>
	body{
		background-color: #1c2b39;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 100px;
	}
	h1{
	
	}
	#wrapper{
		margin: 0 auto;
		background-color: #fff;
		border-radius: 5px;
	}
</style>

<body style="background-color: #1c2b39; text-align: center; padding-top: 30px; padding-bottom: 100px">
	<div id="wrapper" style="margin:0 auto;background-color: #fff; border-radius: 5px">
		<h1>Thanks for signing up!!!</h1>
	</div>
</body>

